body{
	background-color: #dfcdba;
}

/*nav bar*/
.nav{
    background-color: #E45510;
    height: 125px;
    width: 5000px;
    margin-left: -1em;
    margin-top: -1em;
    position: fixed;
    z-index: 3;
}

.buttons{
    margin-top: 1em;
    margin-left: 26em;
    height: 125px;
    position: fixed;
    z-index: 3;
}

.home{
    height: 100px;
    width: 100px;
    background-image: url(../img/home.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 1em;
    margin-left: 2em;
    position: fixed;
}

.aboutText{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    font-family: font-family: ff-tisa-web-pro, serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #E45510;
    position: fixed;
    z-index: 5;
}

.aboutPage{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../img/pup.jpg);
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 4;
}

.aboutPage:hover{
    opacity: 1;
    animation: navBox 0.5s linear forwards;
}

.mapText{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    font-family: font-family: ff-tisa-web-pro, serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #E45510;
    position: fixed;
    z-index: 5;
}

.mapPage{
    height: 100px;
    width: 100px;
    margin-left: 10em;
    border-radius: 50%;
    background-image: url(../img/trees.jpg);
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 4;
}

.mapPage:hover{
    opacity: 1;
    animation: navBox 0.5s linear forwards;
}

.lawPage{
    height: 100px;
    width: 100px;
    margin-left: 20em;
    border-radius: 50%;
    background-image: url(../img/hunter.jpg);
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 4;
}

.lawText{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    font-family: font-family: ff-tisa-web-pro, serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #E45510;
    position: fixed;
    z-index: 5;
}

.lawPage:hover{
    opacity: 1;
    animation: navBox 0.5s linear forwards;
}

.safetyPage{
    height: 100px;
    width: 100px;
    margin-left: 30em;
    border-radius: 50%;
    background-image: url(../img/white.jpg);
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 4;
}

.safetyText{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    font-family: font-family: ff-tisa-web-pro, serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #E45510;
    position: fixed;
    z-index: 5;
}

.safetyPage:hover{
    opacity: 1;
    animation: navBox 0.5s linear forwards;
}

@keyframes navBox{
    0%{border-radius: 50%}
    100%{border-radius: 0}
}
/*end nav bar*/

.slider {
    width: 500px;
    display: block;
    margin-top: 15px;
    left: 50px;
    top: 50px;
    background: black;
}

#custom-handle {
    width: 30px;
    height: 30px;
    background: #E45510;
    border-radius: 50%;
    border: none;
    transform: translate(0, -2px);
}

.slider {
    background: black;
    height: 15px;
}

.ui-widget.ui-widget-content {
    border: none;
}

.photos {
    height: 500px;
    width: 700px;
    margin-left: -50px;
}

.dates{
    height: 300px;
    width: 400px;
    float: left;
    margin-left: .5em;
    margin-top: -30px;
    line-height: 36px;
    font-family: ff-tisa-web-pro, serif;
    font-size: 32px;
    color: white;
}

.container{
    margin-left: 25em;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
}

.center{
    margin-top: -36px;
    margin-left: 255px;
}

.right{
    margin-top: -36px;
    margin-left: 500px;
}

.text{
    height: 100px;
    width: 200px;
    text-align: left;
    line-height: 36px;
    font-family: ff-tisa-web-pro, serif;
    font-size: 36px;
    color: white;
    margin-left: -10em;
    margin-top: -15em;
}

#background {
    background: url(../img/wolfpop2018.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
